.card-img-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1; /* 正方形 */
  overflow: hidden;
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 裁切不變形 */
  display: block;
}
.moreLink {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 2.4rem;
  border-radius: 10px;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-decoration: none;
  transition: all 0.3s ease;
  background: var(--unos-yellow);
  color: #ffffff;
}
.moreLink:hover {
  color: black;
}
